*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.container h2{
    text-align: center;
    top: 50px;
    color: teal;
    font-weight: bold;
    margin-top: 30px;
}
.container img{
    margin-left: 34%;
    margin-top: 60px;
}
.btn{
    margin-left: 47%;
    margin-top: 40px;
    font-size: 20px;
    border: 4px solid teal;
    border-radius: 3px;
    background: none;
    color: teal;
    padding: 3px;
    cursor: pointer;
}
.btn:hover{
    background: rgba(0, 128, 128, 0.342);
    color: black;
}